
<!-- Licensed by AT&T under 'Software Development Kit Tools Agreement.' 2012 
TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION: http://developer.att.com/sdk_agreement/
Copyright 2012 AT&T Intellectual Property. All rights reserved. http://developer.att.com 
For more information contact developer.support@att.com -->

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <titleAT&amp;T Sample MMS Application 3 - MMS Gallery Application</title>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
  </head>
  <body>
    <div id="container">
      <div id="header"><!-- open HEADER -->
        <div>
          <div id="hcRight">
             <%= Time.now.utc.strftime("%a, %B %d, %Y %H:%M:%S UTC") %>
          </div>
	      <div id="hcLeft">Server Time:</div>
        </div>
        <div>
	      <div id="hcRight">
            <script language="JavaScript" type="text/javascript">
              document.write(new Date());
            </script>
          </div>
          <div id="hcLeft">Client Time:</div>
        </div>
        <div>
	      <div id="hcRight">
            <script language="JavaScript" type="text/javascript">
              document.write("" + navigator.userAgent);
            </script>
          </div>
	      <div id="hcLeft">User Agent:</div>
        </div>
        <br clear="all" />
      </div><!-- close HEADER -->
      
      <div id="wrapper">
        <div id="content">
          <h1>AT&T Sample MMS Application 3 - MMS Gallery Application</h1>
          <h2>Feature 1: Web gallery of MMS photos sent to short code</h2>
        </div>
      </div>
      
      <br />
      <p>Photos sent to short code <%= settings.registration_id %> : <%= @images_total %></p>


      <div id="gallerywrapper">

        <% @images_list.each do |image| %>

          <div id="gallery">
            <img src='<%= settings.images_url+'/'+image['path'] %>' width="150" border="0" />
            <br />
            <strong>Sent from:</strong> <%= image['senderAddress'] %>
            <br />
            <strong>On:</strong> <%= image['date'] %>
            <div>
              <%= image['text'] %>
            </div>
          </div>

        <% end %>

      </div>

      <div id="footer">
	    <div style="float: right; width: 20%; font-size: 9px; text-align: right">Powered by AT&amp;T Cloud Architecture</div>
        <p>&copy; 2012 AT&amp;T Intellectual Property. All rights reserved.  <a href="http://developer.att.com/" target="_blank">http://developer.att.com</a>
        <br/>
        The Application hosted on this site are working examples intended to be used for reference in creating products to consume AT&amp;T Services and  not meant to be used as part of your product.  The data in these pages is for test purposes only and intended only for use as a reference in how the services perform.
        <br/>
        For download of tools and documentation, please go to <a href="https://devconnect-api.att.com/" target="_blank">https://devconnect-api.att.com</a>
        <br/>
        For more information contact <a href="mailto:developer.support@att.com">developer.support@att.com</a>
      </div>
    </div>
        
  </body>
</html>
