
<!-- Licensed by AT&T under 'Software Development Kit Tools Agreement.' 2012 
TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION: http://developer.att.com/sdk_agreement/
Copyright 2012 AT&T Intellectual Property. All rights reserved. http://developer.att.com 
For more information contact developer.support@att.com -->

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>AT&amp;T Sample SMS Application - Basic SMS Service Application</title>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
  </head>
  <body>
    <div id="container">
      <div id="header"><!-- open HEADER -->
        <div>
          <div id="hcRight">
            <%= Time.now.utc.strftime("%a, %B %d, %Y %H:%M:%S UTC") %>
          </div>
	      <div id="hcLeft">Server Time:</div>
        </div>
        <div>
	      <div id="hcRight">
            <script language="JavaScript" type="text/javascript">
              document.write(new Date());
            </script>
          </div>
          <div id="hcLeft">Client Time:</div>
        </div>
        <div>
	      <div id="hcRight">
            <script language="JavaScript" type="text/javascript">
              document.write("" + navigator.userAgent);
            </script>
          </div>
	      <div id="hcLeft">User Agent:</div>
        </div>
        <br clear="all" />
      </div><!-- close HEADER -->
      
      <div id="wrapper">
        <div id="content">
          <h1>AT&amp;T Sample SMS Application - Basic SMS Service Application</h1>
          <h2>Feature 1: Send SMS</h2>
        </div>
      </div>
      
      <form method="post" name="sendSms" action="/sendSms">
        <div id="navigation">
          <table border="0" width="100%">
            <tbody>
              <tr>
                <td width="20%" valign="top" class="label">Phone:</td>
                <td class="cell"><input maxlength="16" size="12" name="address" value='<%= session[:sms1_address] || settings.phone_number %>' style="width: 90%"/>
              </tr>
              <tr>
                <td valign="top" class="label">Message:</td>
                <td class="cell">
                  <textarea rows="4" name="message" style="width: 90%"><%= session[:sms1_message] || "Simple message to myself" %></textarea>
	            </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="extra">
          <table>
            <tbody>
              <tr>
  	            <td>
                  <br/><br/><br/><br/><br/>
                  <button type="submit" name="sendSms">Send SMS Message</button>
                </td>
              </tr>
            </tbody>
          </table>      
        </div>
        <br clear="all" />
        <div align="center"></div>
      </form>

      <% if @address_valid == false %>
        <div class="errorWide">
          <strong>ERROR:</strong><br/>
          Phone number format not recognized.
        </div>
        <br/>
      <% end %>
      
      <% if @send_error %>
        <div class="errorWide">
          <strong>ERROR:</strong><br/>
          Message is null or empty
        </div>
        <br/>
      <% end %>

      <% if @sms_id %>
        <div class="successWide">
          <strong>SUCCESS:</strong><br/>
          <strong> Message ID: </strong><%= @sms_id %> 
        </div>
        <br/>
      <% end %>        

      <div id="wrapper">
        <div id="content">
          <h2>
            <br/>
            Feature 2: Get Delivery Status
          </h2>
        </div>
      </div>
        
      <form method="get" name="getDeliveryStatus" action="/getDeliveryStatus">
        <div id="navigation">
          <table border="0" width="100%">
            <tbody>
              <tr>
                <td width="20%" valign="top" class="label">Message ID:</td>
                <td class="cell"><input maxlength="20" size="12" name="smsId" value='<%= session[:sms_id] %>' style="width: 90%"/></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="extra">
          <table border="0" width="100%">
            <tbody>
              <tr>
                <td class="cell">
                  <button type="submit" name="getDeliveryStatus">
                    Get Status
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br clear="all" />
      </form>
      
      <% if @delivery_error %>
        <div class="errorWide">
          <strong>ERROR:</strong><br/>
          Message ID is null or empty          
        </div>
        <br/>
      <% end %>

      <% if @delivery_status %>
        <div class="successWide">
          <strong>SUCCESS:</strong><br/>
          <strong>Delivery status:</strong> <%= @delivery_status %><br/>
          <strong>Resource URL:</strong> <%= @resource_Url %>
        </div>
        <br/>
      <% end %>        

      <div id="wrapper">
        <div id="content">
          <h2>
            <br/>
            Feature 3: Get Received Messages
          </h2>
        </div>
      </div>
      
      <form method="get" name="getReceivedSms" action="/getReceivedSms">
        <div id="navigation">



          <table border="0" width="100%">
            <tbody>
              <tr>
                <td class="cell">
                  <button type="submit" name="getReceivedSms" value='<%= settings.registration_id_1 %>'>Get Messages for Short Code <%= settings.registration_id_1 %></button>
                 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br clear="all" />
      </form>

      <% if @received_error %>
        <div class="errorWide">
          <strong>ERROR:</strong><br/>
          <%= @received_error %>          
        </div>
        <br/>
      <% end %>

      <% if @messages_inbound %>
        <div class="successWide">
          <strong>SUCCESS:</strong><br/>
          <strong>Messages in this batch: </strong> <%= @messages_in_batch %><br/>
          <strong>Messages pending: </strong> <%= @messages_pending %>
        </div>
        <div align="center">
          <table style="width: 650px;text-align:center" cellpadding="1" cellspacing="1" border="0">
            <thead>
              <tr>
                <th style="width: 100px" class="cell"><strong>Message Index</strong></th>
                <th style="width: 275px" class="cell"><strong>Message Text</strong></th>
                <th style="width: 125px" class="cell"><strong>Sender Address</strong></th>
              </tr>
            </thead>
            <tbody>
              <% @messages_inbound.each { |message| %>
                <tr>
                  <td class="cell"><%= message["MessageId"] %></td>
		          <td align="center" class="cell"><%= message["Message"] %></td>
		          <td align="center" class="cell"><%= message["SenderAddress"] %></td>
                </tr>            
              <% } %>
		    </tbody>
          </table>        
        </div>
      <% end %>

      <div id="footer">
	    <div style="float: right; width: 20%; font-size: 9px; text-align: right">Powered by AT&amp;T Cloud Architecture</div>
        <p>&copy; 2012 AT&amp;T Intellectual Property. All rights reserved.  <a href="http://developer.att.com/" target="_blank">http://developer.att.com</a>
        <br/>
        The Application hosted on this site are working examples intended to be used for reference in creating products to consume AT&amp;T Services and  not meant to be used as part of your product.  The data in these pages is for test purposes only and intended only for use as a reference in how the services perform.
        <br/>
        For download of tools and documentation, please go to <a href="https://devconnect-api.att.com/" target="_blank">https://devconnect-api.att.com</a>
        <br/>
        For more information contact <a href="mailto:developer.support@att.com">developer.support@att.com</a>
      </div>
    </div>
  
  </body>
</html>
